.chat-wrapper {
  scrollbar-width: 8px;
  scrollbar-color: #888 transparent;
}

.chat-wrapper::-webkit-scrollbar {
  width: 8px;
}

.chat-wrapper::-webkit-scrollbar-thumb {
  margin: 0 4px;
  border-radius: 4px;
  background-color: #888;
}