.chat-wrapper {
  position: relative;
  width: 98%;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}

.chat-wrapper::-webkit-scrollbar {
  width: 8px;
}

.chat-wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: transparent;
}

.chat-wrapper::-webkit-scrollbar-track {
  background: transparent;
}